---
import Card from "./Card.astro";
const { title, items } = Astro.props;
---

<Card>
  <h3 class="font-semibold">{title}</h3>

  <ul class="mt-3 flex flex-wrap gap-2 text-xs text-zinc-300">
    {items.map((i) => (
      <li class="rounded-full border border-zinc-800 bg-zinc-950/50 px-3 py-1 transition-colors group-hover:border-zinc-700">
        {i}
      </li>
    ))}
  </ul>
</Card>
